.App {
  margin: 20px;
  font-size: 10vh;
}

.title {
  cursor: pointer;
  color: #1b5e20;
}

.subtitle {
  color: #a1887f;
  cursor: ne-resize;
}

.bio {
  background-color: #1b5e20;
  color: white;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
}
.socials {
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img {
  margin-right: 10px;
  margin-left: 15px;
  box-shadow: 1px 1px 20px #d7ccc8;
  vertical-align: bottom;
}

a {
  color: white;
  text-decoration: none;
}